<div class="w-full">
  <div
    class="flex flex-col w-full px-4 py-5 mx-auto bg-black border-[0.5px] border-black sm:px-6 2xl:max-w-7xl lg:items-center lg:justify-between lg:flex-row lg:px-20 2xl:px-12"
  >
    <div
      class="flex flex-col w-full lg:flex-row lg:items-center lg:justify-between"
    >
      <div>
        <span
          class="text-base font-light tracking-tighter text-white duration-500 ease-in-out transform transitioe tracking-relaxed"
        >
          Brutalist<span class="font-medium">One</span>
        </span>
      </div>

      <div class="mt-6 lg:ml-auto lg:mt-0">
        <span
          class="text-base font-light tracking-tighter text-white duration-500 ease-in-out transform transitioe tracking-relaxed"
        >
          <span class="font-medium">designed</span>&amp;<span class="font-bold"
            >developed</span
          >by<a
            href="https://twitter.com/Mike_Andreuzza"
            class="hover:text-white"
            >@Mike_Andreuzza
          </a>
        </span>
      </div>
    </div>
  </div>
</div>
