<meta name="keywords" content="#" />
<meta
  name="description"
  content="Michael Andreuzza's personal collection of experimental and
      neo brutalist websites."
/>
<link rel="manifest" href="../images/favicons/manifest.json" />
<meta name="msapplication-TileColor" content="#e95027" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#e95027" />
<meta name="author" content="Michael Andreuzza" />

<meta
  name="title"
  content="Brutalist One"
/>
<meta
  name="description"
  content="Michael Andreuzza's personal collection of experimental and
      neo brutalist websites."
/>
 <title>
      Brutalist One, Michael Andreuzza personal collection of experimental and
      neo brutalist websites.
    </title>