<meta name="keywords" content="#" />
<meta
  name="description"
  content="A prototyping
kit for your next Tailwind CSS project."
/>
<link rel="manifest" href="../images/favicons/manifest.json" />
<meta name="msapplication-TileColor" content="#0133ff" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#0133ff" />
<meta name="author" content="Michael Andreuzza" />
<title>
  Unwrapped UI - A prototyping kit for your next Tailwind CSS project.
</title>
<meta
  name="title"
  content="Unwrapped UI - A prototyping
kit for your next Tailwind CSS project."
/>
<meta
  name="description"
  content="A prototyping
kit for your next Tailwind CSS project."
/>
