<meta property="twitter:card" content="summary_large_image" />
<meta
  property="twitter:title"
  content="Brutalist One"
/>




<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://brutalist.one/">
<meta name="twitter:creator" content="@mike_andreuzza">
<meta name="twitter:title" content="Brutalist One">
<meta name="twitter:description" content="Michael Andreuzza's personal collection of experimental and
      neo brutalist websites.">
<meta name="twitter:image" content="https://brutalist.one/images/og/twitter.png">