<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="canonical" href="https://brutalist.one" />
    <!-- Favicons Meta Tags -->
    {{>"metatags/favicons"}}
    <!-- Primary Meta Tags -->
    {{>"metatags/keywords"}}
    <!-- Open Graph / Facebook -->
    {{>"metatags/social"}}
    <!-- Twitter -->
    {{>"metatags/twitter"}}
    <link rel="stylesheet" type="text/css" href="css/app.css" />
  </head>

  <body class="bg-white">
    {{#block "body"}} {{/block}} {{>"general/footer"}}
    <script>
      var gallery = document.querySelector('#gallery');
var list = Array.from(gallery.children);
var newlist;

list.sort(function(a, b) {
  return -1 + Math.random() * 3; // -1, 0, or 1
});

while (gallery.children.length > 0) {
  gallery.removeChild(gallery.children[0]);
}
list.forEach(function(el) {
  gallery.appendChild(el);
});

    </script>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
  </body>
</html>
